<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body bgcolor="#ffb6c1">
<center>
        <h1>
            <form action="./insert" method="get">
                Enter ProductId:<input type="text" name="t1"><br>
                Enter ProductName:<input type="text" name="t2"><br>
                Enter ProductCost:<input type="text" name="t3"><br>
                Enter ProductMfdt:<input type="text" name="t4"><br>
                Enter ProductExpdt:<input type="text" name="t5"><br>
                <input type="submit" value="insert">
            </form>
        </h1>
</center>

</body>
</html>